/** @format */

.Terms {
  text-decoration: underline;
  cursor: pointer;
}

.modal_title {
  text-align: center;
  font-family: PlayfairDisplay-Bold;
  font-size: 22px;
}

.textFields {
  width: 90%;
  margin-left: 5%;
}

.textField {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.rmdp-week-day {
  color: rgb(53, 53, 53, 0.9) !important;
}

.rmdp-arrow {
  border: solid #353535 !important;
  border-width: 0 2px 2px 0 !important;
}

.rmdp-arrow-container:hover {
  background-color: rgb(0, 0, 0, 0.2) !important;
  padding: 2px !important;
}

.rmdp-day.rmdp-today span {
  background-color: rgb(53, 53, 53, 0.1) !important;
  color: black !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #353535 !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: rgb(53, 53, 53, 0.2) !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:active {
  background-color: #353535 !important;
}

.rmdp-panel-body li {
  background-color: rgb(53, 53, 53, 0.9) !important;
}

.rmdp-panel-body li.rmdp-focused {
  background-color: #353535 !important;
}

.rmdp-panel-body span {
  width: 100%;
  text-align: left;
}

.bodytext {
  white-space: pre-line;
  position: relative;
  width: 85%;
  font-size: 14pt;
  line-height: 17pt;
  overflow: hidden;
  max-height: 4.8em;
}

.facebook {
  position: absolute;
  z-index: 999;
  width: 35px;
  right: 45px;
  top: 20px;
  height: 35px;
  font-size: 0;
}

.insta {
  position: absolute;
  z-index: 999;
  width: 35px;
  right: 15px;
  top: 20px;
  height: 35px;
  font-size: 0;
}

.PostRulesHeader {
  font-family: Playfair Display;
  font-size: 24pt;
}

.MainBackground {
  position: fixed;
  background-attachment: fixed;
  /* background-color:#fed957; */

  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;

  top: 0;
  height: 100vh;
  width: 100%;
}

.MainBackgroundHome {
  position: fixed;
  background-attachment: fixed;
  /* background-color:#fed957; */

  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;

  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.dialoggradient {
  position: absolute;
  margin-top: -13vh;
  height: 13vh;
  width: 100vw;
  background-attachment: fixed;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(255, 255, 255, 0)),
    to(#ffda53)
  );
  background-repeat: no-repeat;
}

.backContainer {
  z-index: 12;
  position: absolute;
  margin-top: -1px;
  height: 40vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 61%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.PostBackground {
  z-index: 11;
  position: absolute;
  margin-top: 20vh;
  height: 80vh;
  width: 100vw;
  background: rgb(255, 218, 83);
  background: linear-gradient(
    0deg,
    rgba(255, 218, 83, 1) 0%,
    rgba(255, 209, 155, 1) 65%,
    rgba(255, 209, 155, 0) 100%
  );
}

.react-geocoder {
  position: fixed;
  z-index: 9;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.white {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.spinnerDiv {
  z-index: 99999;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.sideBar {
  display: none;
}

.MuiFormControlLabel-root {
  height: 31px !important;
  flex: none !important;
}
.MuiTypography-body1 {
  font-size: 15px !important;
}

.MuiSvgIcon-root {
  width: 16px !important;
  height: 16px !important;
}

.fullGradientWrapper {
  width: 100vw;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;
}

.projectDialog,
.accountDialog {
  width: 100vw;
  height: 100%;
  margin-top: 0vh;
  z-index: 90;
  top: 0;
  position: fixed;
  pointer-events: none;
}

.dialogZoomButton {
  z-index: 99;
  position: relative;
  margin-top: -140px;
  margin-left: 2.5vw;
  margin-bottom: 90px;
  width: 10em;
  border-radius: 20px;
  height: 35px;
  background-color: white;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.4);
}

.wrapperMenu {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
}

.noLocationPopUp {
  padding: 5px;
  background-color: white;
  margin-top: 5px;
  width: 50vw;
  max-width: 300px;
  transform: translateX(-50%);
  height: auto;
  border-radius: 15px;
  z-index: 999;
  text-align: center;
}

.iframewrapper {
  margin-top: -2px;
  margin-left: -2px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.mapStylePost {
  z-index: 9;
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 80vh;
}

.filterScreamMapWrapper {
  position: fixed;
  margin-top: -8px;
  margin-left: -24px;
  height: 110vh;
  width: 100vw;
  position: fixed;
}

.content {
  position: relative;
  margin-top: 0px;
  padding-bottom: 70vw;
}

@keyframes cardanimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logo1 {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 99;
  padding-bottom: 10;
  text-align: center;
}

@keyframes FadeAnimationFast {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  80% {
    opacity: 0;
    transform: scale(0.7);
  }

  90% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.FadeAnimationSlow {
  opacity: 1;
  animation: FadeAnimation 3s;
}

@keyframes FadeAnimation {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.StartBackground {
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;

  height: 2050px;
  width: 100vw;
  animation: StartBackground 2.7s;
}

@keyframes StartBackground {
  0% {
    height: 0vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  5% {
    height: 0vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  9% {
    height: 0vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  10% {
    height: 10vh;
  }

  30% {
    height: 30vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  100% {
    height: 285vh;
  }
}

.First {
  position: absolute;
  top: 320px;
  width: 90vw;
  margin-left: 5vw;
}

.FirstWrapper {
  animation: SecondSVG 2s;
  height: 150vh;
  width: 100vw;
}

@keyframes SecondSVG {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  30% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.VerifyHeader {
  position: relative;
  z-index: "9999";
  width: 80vw;
  margin-top: 5vh;
  margin-left: 10vw;
  height: 100%;
}

.CelebrateVerify {
  z-index: 0;
  position: fixed;
  width: 55vw;
  left: 5vw;
  bottom: 2vh;
  opacity: 1;
  animation: CelebrateVerifyAnimation 2s;
}

@keyframes CelebrateVerifyAnimation {
  0% {
    opacity: 0;
    bottom: 0vh;
  }

  100% {
    opacity: 1;
    bottom: 2vh;
  }
}

.Celebrate {
  z-index: 0;
  position: fixed;
  width: 70%;

  left: 5%;
  bottom: 0vh;
  opacity: 0;
  animation: CelebrateAnimation 2s;
}

@keyframes CelebrateAnimation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  40% {
    opacity: 1;
    transform: translateY(0%);
  }

  60% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.Second {
  position: absolute;
  top: 800px;
  width: 90vw;
  margin-left: 5vw;
}

.Third {
  position: absolute;
  top: 1250px;
  width: 90vw;
  margin-left: 5vw;
}

.title1 {
  position: absolute;
  z-index: 99;
  width: 75%;
  top: 410px;
  left: 12vw;
  color: #414345;
  font-size: 16pt;
  font-family: "PlayfairDisplay-Bold";
  white-space: pre-line;
}

.subTitle1 {
  position: absolute;
  z-index: 99;
  width: 80%;
  top: 490px;
  left: 12vw;
  color: #414345;
  font-size: 16px;
}

.title2 {
  position: absolute;
  z-index: 99;
  width: 75%;
  top: 850px;
  left: 12vw;
  color: #414345;
  font-size: 16pt;

  font-family: "PlayfairDisplay-Bold";
  white-space: pre-line;
}

.subTitle2 {
  position: absolute;
  z-index: 99;
  width: 77%;
  top: 930px;
  left: 12vw;
  color: #414345;
  font-size: 16px;
}

.title3 {
  position: absolute;
  z-index: 99;
  width: 75%;
  top: 1300px;
  left: 12vw;
  color: #414345;
  font-size: 16pt;
  font-family: "PlayfairDisplay-Bold";
  white-space: pre-line;
}

.subTitle3 {
  position: absolute;
  z-index: 99;
  width: 77%;
  top: 1380px;
  left: 12vw;
  color: #414345;
  font-size: 16px;
}

.FirstImage {
  z-index: 999;
  position: absolute;
  margin-top: 30vh;
  width: 800px;
  margin-left: 50%;
  transform: translateX(-50%);
  left: 0;
}

@media screen and (max-width: 321px) {
  .subTitle1 {
    top: 480px;
    font-size: 13pt;
  }

  .subTitle2 {
    top: 920px;

    font-size: 13pt;
  }

  .subTitle3 {
    top: 1370px;
    font-size: 13pt;
  }
}

@media screen and (max-height: 550px) {
  .dialoggradient {
    margin-top: 73vh;
  }
}

.switchDevice {
  display: block;
  z-index: 99999;
  position: fixed;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;

  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35pt;
  color: #353535;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.drag_hide {
  pointer-events: none;
  opacity: 0;
}

.wrapperScreamDialog {
  width: 100vw;
  margin-top: 0vh;
  margin-left: 0px;
  z-index: 97;
  top: 30px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior: contain;
  min-height: 100%;
}

.screamDialogDrag {
  width: 100%;
  height: 120%;
  position: fixed;
  z-index: 96;
  top: 0;
  overflow: scroll;
  overscroll-behavior: contain;
  animation: enterScreamDialogAnimation 1s;
}

@keyframes enterScreamDialogAnimation {
  0% {
    transform: translateY(80%);
  }

  100% {
    transform: translateY(42%);
  }
}
