/** @format */


/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/playfair-display-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("fonts/playfair-display-v19-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("fonts/playfair-display-v19-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("fonts/playfair-display-v19-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("fonts/playfair-display-v19-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("fonts/playfair-display-v19-latin-regular.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("fonts/playfair-display-bold/PlayfairDisplay-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("fonts/playfair-display-bold/PlayfairDisplay-Bold.woff") format("woff"),
    /* Modern Browsers */
    url("fonts/playfair-display-bold/PlayfairDisplay-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT W01-Bold";
  src: url("fonts/1059692/1a34942e-33ed-43bb-b229-7460d55b49f7.woff2") format("woff2"),
    url("fonts/1059692/baecea54-cfd3-4578-8717-abf89eba62b6.woff") format("woff"),
    url("fonts/1059692/baecea54-cfd3-4578-8717-abf89eba62b6.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT W01 Book";
  src: url("fonts/1059698/aafdd021-88d4-41d8-8e15-fe91f83e4b17.woff2") format("woff2"),
    url("fonts/1059698/81d44d4b-ac07-4ad4-8cdd-4df771a3c1c3.woff") format("woff"),
    url("fonts/1059698/81d44d4b-ac07-4ad4-8cdd-4df771a3c1c3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display-SemiBold";

  src: local(""),
    /* Modern Browsers */
    url("fonts/PlayfairDisplay-SemiBold.ttf") format("truetype");
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  margin: 0;
  font-family: Futura PT W01 Book;
  /* overflow: scroll; */
  overscroll-behavior-y: contain;

 
font-size: 18,666666666666664px !important;
    line-height: 22,666666666666664px !important;


  background-attachment: fixed;
  /* background-color:#fed957; */

  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;
  
  top: 0;
  width: 100%;


  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */


  height: 100%;
  position: fixed;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar but allow scrolling */
div {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

div::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}


a {
  text-decoration: none;
  color: #414345;
}

.oopsText {
  color: #414345;
  width: 80vw;
  z-index: 10;
  position: absolute;
  font-size: 15pt;
  text-align: center;
  font-family: Futura PT W01-Bold;
  margin-left: 10vw;
}

.Terms {
  text-decoration: underline;
  cursor: pointer;
}


.modal_title {

  text-align: center;
  font-family: PlayfairDisplay-Bold;
  font-size: 22px;

}

.textFields {
  width: 90%;
  margin-left: 5%;
}

.textField {
  width: 100%;

}

.buttons {
  display: flex;
  justify-content: space-around;
}

.rmdp-week-day {
  color: rgb(53, 53, 53, 0.9) !important;
}

.rmdp-arrow {
  border: solid #353535 !important;
  border-width: 0 2px 2px 0 !important
}

.rmdp-arrow-container:hover {
  background-color: rgb(0, 0, 0, 0.2) !important;
  padding: 2px !important;
}

.rmdp-day.rmdp-today span {
  background-color: rgb(53, 53, 53, 0.1) !important;
  color: black !important
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #353535 !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: rgb(53, 53, 53, 0.2) !important;

}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:active {
  background-color: #353535 !important;

}

.rmdp-panel-body li {
  background-color: rgb(53, 53, 53, 0.9) !important;

}

.rmdp-panel-body li.rmdp-focused {
  background-color: #353535 !important;
}

.rmdp-panel-body span {

  width: 100%;
  text-align: left;
}





.cookiesHeader {
  font-family: Futura PT W01-Bold;
}

.cookiesText {
  z-index: 9995;
  position: fixed;
  width: 95vw;
  height: 14em;
  padding: 2.5vw;
  color: white;
  text-align: center;
  background-color: #414345;
  font-size: 13pt;
  margin-left: 0vw;
  bottom: 0em;
  left: 0;
}

.AcceptIntro {
  color: #414345;
  background-color: white;
  position: fixed;
  left: 25vw;
  width: 50vw;
  bottom: 50px;
}


.CookieNote {
  position: fixed;
  z-index: 99;
  width: 95%;
  left: 2.5vw;
  height: 10em;
  bottom: 10em;
  background-color: #414345;
  color: white;
  border-radius: 20px;
  text-align: center;
}

.CookieNoteDialog {
  position: absolute;
  z-index: 999;
  width: 95vw;
  left: 2.5vw;
  height: 10em;
  top: 4em;
  background-color: #414345;
  color: white;
  border-radius: 20px;
  text-align: center;
}

.cookiesNoteHeader {
  position: relative;
  top: 1em;
  font-family: Futura PT W01-Bold;
}

.cookiesNoteText {
  position: relative;
  top: 1.5em;
  z-index: 99;
  width: 95vw;
  color: white;
  text-align: center;
  font-size: 13pt;
  margin-left: 0vw;
  left: 0;
}



.bodytext {
  white-space: pre-line;
  position: relative;
  width: 85%;
  font-size: 14pt;
  line-height: 17pt;
  overflow: hidden;
  max-height: 4.8em;
}

/* .bodytext:after {
  content: "...";
  color: #414345;
  font-weight: 100;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0.5em;
  width: 75%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
}  */









button {
  display: inline-block;
  border: none;
  z-index: 9999;


}

button:active {
  background: #35353500 radial-gradient(circle, transparent 1%, #3535350a 1%) center/15000%;
  background-color: #35353500;
  background-size: 100%;
}

button:focus {
  outline: 0;
}

button:disabled {
  opacity: 0.6
}

.buttonRound {


  width: 50px;
  height: 50px;
  color: black;
  border-radius: 100%;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important; */
  box-shadow: rgb(38, 57, 77, 0.7) 0px 20px 30px -15px;
  background-color: white;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttonWide {
  border-radius: 30px;
  text-transform: none;
  font-size: 14pt;
  background-color: white;
  height: 50px;
  font-family: Futura PT W01 Book;
  box-shadow: rgb(38, 57, 77, 0.7) 0px 20px 30px -15px;
}






.buttonSignWrapper {

  position: fixed;
  z-index: 9999;
  width: 100%;
  max-width: 600px;
  bottom: 3em
}

.buttonSignWrapperAndroid {

  position: relative;
  z-index: 9999;
  width: 100%;
  max-width: 600px;
  margin-top: 80px;
}

.buttonSign {
  width: 80%;
  margin-left: 10%
}



.buttonSelectLocation {
  background-color: #fed957;
  width: 46.25%;
  margin-left: 2.5%;
  z-index: 9999;
  color: #353535
}

.buttonSelectLocation_hide {
  background-color: #fed957;
  width: 46.25%;
  margin-left: 2.5%;
  z-index: 9999;
  color: #353535;
  opacity: 0.5;
  pointer-events: none;
  /* display:none;
  color: transparent;
  z-index:0;
  background-color: transparent; */
}

.buttonSelectLocationNo {
  background-color: #ffffff;
  width: 46.25%;
  margin-left: 2.5%;
  z-index: 9990;
  box-shadow: rgb(38, 57, 77, 0) 0px 20px 30px -15px;
}

.buttonSelectLocationNo_hide {
  background-color: #ffffff;
  width: 46.25%;
  margin-left: 2.5%;
  z-index: 9990;
  box-shadow: rgb(38, 57, 77, 0) 0px 20px 30px -15px;
  opacity: 0.2;
  pointer-events: none;

}

.buttonEdit {
  position: relative;
 

}



.buttonVerify {
  color: white;
  background-color: #414345;
  position: relative;
  z-index: 9;
  width: 50vw;
  left: 25vw;
  top: 5vh;




}


.buttonLikeFixed {
  z-index: 9999;
  position: fixed;
  left: 3%;
  bottom: 5px;
  width: 55px;

}





.formControl {
  width: auto;
  right: 0;
  border: 1px solid #414345;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;

  width: 127px;
  font-family: Futura PT W01 Book !important;
  font-size: 16pt !important;

}





.contentWrapper {
  width: 100vw;
  height: 100%;

  overflow: hidden;
  

}

.contentWrapper_insights {
  width: 100vw;
  height: 100%;

  overflow: hidden;
  position: fixed;
  overflow:scroll;
  z-index:0;


}

.facebook {
  position: absolute;
  z-index: 999;
  width: 35px;
  right: 45px;
  top: 20px;
  height: 35px;
  font-size: 0;

}

.insta {
  position: absolute;
  z-index: 999;
  width: 35px;
  right: 15px;
  top: 20px;
  height: 35px;
  font-size: 0;

}




.PostRulesHeader {
  font-family: Playfair Display;
  font-size: 24pt;
}





.Maploader {
  position: fixed;
  z-index: 97;
  width: 100vw;
}

.Maploaderbackground {
  z-index: 97;
  width: 100vw;
}

.MainBackground {
  position: fixed;
  background-attachment: fixed;
  /* background-color:#fed957; */

  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;
  
  top: 0;
  height: 100vh;
  width: 100%;
}

.MainBackgroundHome {
  position: fixed;
  background-attachment: fixed;
  /* background-color:#fed957; */

  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;
  
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.errorBackground {
  position: fixed;
  z-index: 99999999999;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;
  
  height: 100vh;
  width: 100vw;
  top: 0;

}


.Navigation-title {
  font-family: Futura PT W01-Bold;
  color: #353535;
  text-align: center;
  width: calc(100vw - 150px);
  margin-left: 75px;
  font-size: 16pt;
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  height: 80px;

}

.dialoggradient {
  position: absolute;
  margin-top: -13vh;
  height: 13vh;
  width: 100vw;
  background-attachment: fixed;
  background: -webkit-gradient(linear,
      0% 0%,
      0% 100%,
      from(rgba(255, 255, 255, 0)),
      to(#ffda53));
  background-repeat: no-repeat;
}




.backContainer {
  z-index: 12;
  position: absolute;
  margin-top: -1px;
  height: 40vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 61%, rgba(0, 0, 0, 0.5) 100%);



}

.PostBackground {
  z-index: 11;
  position: absolute;
  margin-top: 20vh;
  height: 80vh;
  width: 100vw;
  background: rgb(255, 218, 83);
  background: linear-gradient(0deg, rgba(255, 218, 83, 1) 0%, rgba(255, 209, 155, 1) 65%, rgba(255, 209, 155, 0) 100%);
}



.selectLocationContainer {

  height: 130px;
  width: 95%;
  margin-left: 2.5%;
  background-color: #F8F8F8;
  border-radius: 20px;
  box-shadow: 0 8px 30px -12px rgba(0, 0, 0, 0.5);


}

.postCard {
  z-index: 12;
  position: absolute;
  display: flex;
  top: 0vh;

  left: 0;
  margin-left: 2.5vw;
  margin-right: auto;

  /* height: calc(75vh - 70px); */
  height: calc((var(--vh, 1vh) * 75) - 70px);

  /* height:calc(80vh - 70px); */
  width: 95vw;
  border-radius: 20px;
  box-shadow: 0 0px 40px -12px rgba(0, 0, 0, 0);
  background-color: white;

  
}

.postCardAndroid {
  z-index: 12;
  position: absolute;
  display: flex;
  top: 0vh;

  left: 0;
  margin-left: 2.5%;
  margin-right: auto;

  /* height: calc((var(--vh, 1vh) * 70) - 70px);  */
  height: 400px;
  /* height:calc(80vh - 70px); */
  width: 95%;
  border-radius: 20px;
  box-shadow: 0 0px 40px -12px rgba(0, 0, 0, 0);
  background-color: white;
}



.topicSelectContainer {
  background-color: #f8f8f8;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  left: 0;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size:20px;
}

.projectSelectContainer {
  background-color: #f8f8f8;
  background-color: transparent;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  left: 0;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  border-bottom: 1px solid #353535;
  /* border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
}

.projectFormControl {
  width: 65%;
  right: 0;
  border: 0px solid #414345;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;


  font-family: Futura PT W01 Book !important;
  font-size: 12pt !important;

}
.selectCustom{
  width: 65%;
  right: 0;
  border: 0px solid #414345;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;


  font-family: Futura PT W01 Book !important;
  font-size: 12pt !important;
}

/* .mapboxgl-ctrl-geocoder {
  margin-left:70px !important;
  margin-top:20px !important;
  width: 50% !important;
} */

.react-geocoder {
  
  position: fixed;
  font-family: Futura PT W01 Book;
  z-index:9


}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.react-geocoder input {
  width: calc(80% - 85px);
  position: fixed;
  top: 2.5%;
  border-radius: 15px;
  border: none;
  height: 50px !important;
  padding: 0;
  left: 70px;
  padding-left: 15px;

  font-family: 'Futura PT W01 Book', sans-serif;
  font-size: 12pt;
  box-shadow: 0 8px 30px -12px rgba(0, 0, 0, 0);
}

.react-geocoder-results {
  position: fixed;
  top: 80px;
  left: 2.5vw;
  z-index: 1;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 95vw;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.2);
  font-family: Futura PT W01 Book;
  font-size: 12pt;
}

.react-geocoder-item {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
}

.react-geocoder-item:last-child {
  border-bottom: 1px solid white;
  padding: 10px;
}



.mapboxgl-ctrl {
  opacity: 0;
}

.pinLocationHeader {
  font-family: Futura PT W01 Book;
  font-size: 12pt;
  z-index: 9999;
  position: fixed;
  top: 2.5%;
  left: 70px;
  width: calc(80% - 85px);

  height: 50px;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 15px;
  color: #353535;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;

  box-shadow: 0 8px 30px -12px rgba(0, 0, 0, 0.5);

}



.white {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.spinnerDiv {
  z-index: 99999;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}





.lamploader {
  z-index: 999;
  margin-top: -5vh;
  width: 150px;
  transform: scale(1);
  animation: lampAnimation 10s ease-in-out infinite;
}

@keyframes lampAnimation {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.3);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.3);
  }

  80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}











.sideBar {
  display: none
}

.legendwrapper {
  color: black;
  z-index: 9;
  position: relative;
  width: calc(100% - 177px);
  height: 80px;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  padding-bottom: 30px;
  margin:10px;
}

.legend {
  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  left: 0;
  /* border-left: 1px #ffd388 solid; */
}

.activelegenditem {
  border: 1px solid black;
  border-radius: 100%;

  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0) 50%)
}


.MuiFormControlLabel-root{
height:31px !important;
    flex: none !important;

}
.MuiTypography-body1{

font-size:15px !important
}

.MuiSvgIcon-root{
  width:16px !important;
  height:16px !important
}



.footer {
  position: absolute;
  top: 1850px;
  width: 100%;
  height: 1em;
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  font-size: 14pt;
  font-family: Futura PT W01 Book;
}

.footercopy {
  position: absolute;
  top: 1900px;
  width: 100%;
  height: 1em;
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  font-size: 14pt;
  font-family: Futura PT W01 Book;
}

.footerStart {
  position: absolute;
  top: 1800px;
  width: 100vw;
  height: 1em;
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  font-size: 14pt;
  font-family: Futura PT W01 Book;
}

.footercopyStart {
  position: absolute;
  top: 1850px;
  width: 100vw;
  height: 1em;
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  font-size: 14pt;
  font-family: Futura PT W01 Book;
}



.footerIntro {
  position: fixed;
  bottom: 0em;
  width: 100vw;
  z-index: 99999;
  height: 2em;
  padding-top: 0.5em;
  text-align: center;
  left: 0;
  font-size: 14pt;
  font-family: Futura PT W01 Book;
}

.footerIntroText {
  color: #c9c9c9;
}

.fullGradientWrapper {
  width: 100vw;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;
  

  
}

.projectDialog ,
.accountDialog {
  
  width: 100vw;
  height: 100%;
  margin-top:0vh;
  z-index: 90;
  top: 0;
  
  position:fixed;
}











.dialogCard {
  z-index: 99;
  position: relative;
  display: flex;
  margin-top: 2vh;
  margin-left: 2.5%;
  width: 95%;
  border-radius: 20px;
  min-height: 280px;
  background-color: white;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0);
}

.dialogZoomButton {
  z-index: 99;
  position: relative;
  margin-top: -140px;
  margin-left: 2.5vw;
  margin-bottom: 90px;
  width: 10em;
  border-radius: 20px;
  height: 35px;
  background-color: white;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.4);
}

.commentFormWrapper {
  z-index: 100;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  z-index:99;
  animation: enterScreamDialogAnimation 1.5s;
}

.wrapperMenu {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
}

.mapWrapper {
  z-index: 9;
  margin: 0px;
  top: 0;
  left: 0;
  position: fixed;
}

.noLocationPopUp {
  padding: 5px;
  background-color: white;
  margin-top: 5px;
  width: 50vw;
  max-width: 300px;
  transform: translateX(-50%);
  height: auto;
  border-radius: 15px;
  z-index: 999;
  text-align: center;
}

.iframewrapper {
  margin-top: -2px;
  margin-left: -2px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}


.mapStylePost {
  z-index: 9;
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 80vh
}

.filterScreamMapWrapper {
  position: fixed;
  margin-top: -8px;
  margin-left: -24px;
  height: 110vh;
  width: 100vw;
  position: fixed;
}

.pin {
  position: absolute;
  width: 100px;
   margin-top: -125px; 
  margin-left: -50px;
background-color: #353535;
  transform: rotate(0) ;
  transform-origin: bottom center;
}



.content {
  position: relative;
  margin-top: 0px;
  padding-bottom: 70vw;


}








@keyframes cardanimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logo1 {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 99;
  padding-bottom: 10;
  text-align: center;

}



@keyframes FadeAnimationFast {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  80% {
    opacity: 0;
    transform: scale(0.7);
  }

  90% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.FadeAnimationSlow {
  opacity: 1;
  animation: FadeAnimation 3s;
}

@keyframes FadeAnimation {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.StartBackground {
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
  background-repeat: no-repeat;
  
  height: 2050px;
  width: 100vw;
  animation: StartBackground 2.7s;
}

@keyframes StartBackground {
  0% {
    height: 0vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  5% {
    height: 0vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  9% {
    height: 0vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  10% {
    height: 10vh;
  }

  30% {
    height: 30vh;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffda53);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to left, #ffd19b, #ffda53, #ffda53);
  }

  100% {
    height: 285vh;
  }
}

.First {
  position: absolute;
  top: 320px;
  width: 90vw;
  margin-left: 5vw;
}

.FirstWrapper {
  animation: SecondSVG 2s;
  height: 150vh;
  width: 100vw;
}

@keyframes SecondSVG {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  30% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}




.VerifyHeader {
  position: relative;
  z-index: "9999";
  width: 80vw;
  margin-top: 5vh;
  margin-left: 10vw;
  height: 100%;

}

.VerifySubHeader {
  position: relative;
  font-family: Futura PT W01 Book;
  font-size: 15pt;
  clear: both;
  text-align: center;
  text-transform: none;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 3vh;
  height: 100%;
  color: #414345;
}

.CelebrateVerify {
  z-index: 0;
  position: fixed;
  width: 55vw;
  left: 5vw;
  bottom: 2vh;
  opacity: 1;
  animation: CelebrateVerifyAnimation 2s;
}

@keyframes CelebrateVerifyAnimation {
  0% {
    opacity: 0;
    bottom: 0vh;
  }

  100% {
    opacity: 1;
    bottom: 2vh;
  }
}

.Celebrate {
  z-index: 0;
  position: fixed;
  width: 70%;

  left: 5%;
  bottom: 0vh;
  opacity: 0;
  animation: CelebrateAnimation 2s;
}

@keyframes CelebrateAnimation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  40% {
    opacity: 1;
    transform: translateY(0%);
  }

  60% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.Second {
  position: absolute;
  top: 800px;
  width: 90vw;
  margin-left: 5vw;
}

.Third {
  position: absolute;
  top: 1250px;
  width: 90vw;
  margin-left: 5vw;
}

.title1 {
  position: absolute;
  z-index: 99;
  width: 75%;
  top: 410px;
  left: 12vw;
  color: #414345;
  font-size: 16pt;
  font-family: "PlayfairDisplay-Bold";
  white-space: pre-line;
}

.subTitle1 {
  position: absolute;
  z-index: 99;
  width: 80%;
  top: 490px;
  left: 12vw;
  color: #414345;
  font-size: 14pt;
}

.title2 {
  position: absolute;
  z-index: 99;
  width: 75%;
  top: 850px;
  left: 12vw;
  color: #414345;
  font-size: 16pt;

  font-family: "PlayfairDisplay-Bold";
  white-space: pre-line;
}

.subTitle2 {
  position: absolute;
  z-index: 99;
  width: 77%;
  top: 930px;
  left: 12vw;
  color: #414345;
  font-size: 14pt;
}

.title3 {
  position: absolute;
  z-index: 99;
  width: 75%;
  top: 1300px;
  left: 12vw;
  color: #414345;
  font-size: 16pt;
  font-family: "PlayfairDisplay-Bold";
  white-space: pre-line;
}

.subTitle3 {
  position: absolute;
  z-index: 99;
  width: 77%;
  top: 1380px;
  left: 12vw;
  color: #414345;
  font-size: 14pt;
}







.FirstImage {
  z-index: 999;
  position: absolute;
  margin-top: 30vh;
  width: 800px;
  margin-left: 50%;
  transform: translateX(-50%);
  left: 0
}












@media screen and (max-width: 321px) {
  .subTitle1 {
    top: 480px;
    font-size: 13pt;
  }

  .subTitle2 {
    top: 920px;

    font-size: 13pt;
  }

  .subTitle3 {
    top: 1370px;
    font-size: 13pt;
  }
}


@media screen and (max-height: 550px) {
  .dialoggradient {
    margin-top: 73vh;
  }
}

.switchDevice{
  display: block;
    z-index: 99999;
    position: fixed;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
    background-repeat: no-repeat;
    
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35pt;
    color: #353535;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.landscapeNote {
  display: none;
}

@media screen and (min-aspect-ratio: 15/9) and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .landscapeNote {
    display: block;
    z-index: 99999;
    position: fixed;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
    background-repeat: no-repeat;
    
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40pt;
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
  }
}



.tabletLandscapeNote {
  display: none;
}

@media screen and (min-aspect-ratio: 9/15) and (min-width: 768px) and (max-width: 1000px) and (orientation: portrait) {
  .tabletLandscapeNote {
    display: block;
    z-index: 99999;
    position: fixed;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #ffd19b, #ffda53, #ffffff);
    background-repeat: no-repeat;
    
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40pt;
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
  }
}

.projectIdeascontent {
  position: relative;
  margin-top: 0px;
  padding-bottom: 70vw;


}

@media screen and (min-width: 768px) {

  .projectIdeascontent {
    padding-bottom: 0;

  }

}


.projectHeader {
  position: relative;
  z-index: 9;
  margin-left: 2.5%;
  padding-bottom: 1em;
  color: white;
  width: 95%;
  text-align: left;
  font-family: "Playfair Display", serif;
  animation: enteranimation 1.5s;
  z-index: 99;
}


.hey-user {
  font-family: PlayfairDisplay-Bold;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #353535;
  font-size: 20px;
}

.accountCard {

  z-index: 99;
  position: relative;

  display: flex;
  margin-top: 0px;
  margin-left: 2.5%;
  width: 95%;
  min-width: 95%;
  border-radius: 20px;
  height: auto;

  background-color: white;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0);
}


.screamcardTitle {
  clear: both;
  color: rgb(87, 87, 87);
  width: 85%;
  position: relative;
  font-size: 20px;
  font-family: Playfair Display;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 800;
}

.screamcardProjectContainer {
  background-color: #f8f8f8;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  left: 0;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  border-radius: 0%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 10;
  color: #353535;
  font-size: 12pt;

  box-shadow: rgb(38, 57, 77, 0) 0px 20px 30px -15px;

}


@media screen and (max-width: 330px) {
  .screamcardTitle {

    font-size: 18px;
  }


}

.monitoringFormControl {

  right: 0;
  border: 1px solid #414345;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;

  width: 40px;
  max-width: auto;
  font-family: Futura PT W01 Book !important;
  font-size: 14pt !important;

}

.monitoringFormControlSmall {

  right: 0;
  border: 1px solid #414345;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;

  width: 110px;
  max-width: auto;
  font-family: Futura PT W01 Book !important;
  font-size: 14pt !important;
}

.monitoringBottombar {
  position: fixed;
  z-index: 999;
  margin-left: 200px;
  width: calc(100vw - 650px);
  height: 100px;
  padding-right: 10px;
  bottom: 0px;
  background-color: white;
  /* box-shadow: rgb(38 57 77 / 70%) 0px 20px 30px 5px; */
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(253, 240, 194, 0) 0%, rgba(254, 247, 224, 1) 70%, rgba(255, 255, 255, 1) 100%);
  align-items: center;
}


.monitoringCardWrapper {
  width: calc(100% - 10px);
  margin-left: 10px;
}


.monitoringCard {
  font-family: Futura PT W01 Book;
  font-size: 16px;
  text-align: left;
  width: 100%;
  height: 55px;
  display: flex;




  position: relative;
  max-width: 100%;

  margin-left: 0px;

  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.2s;

  z-index: 0;
  background-color: white;
}


.monitoringScreamExpand {

  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  display: flex;
  justify-content: center;
  width: 40px;
}

.hoverIcon {
  display: none;
}

.monitoringCard:hover .hoverIcon {
  display: block;
  background: #f8f8f8;
  background:
    linear-gradient(270deg, #f8f8f8 0%, #f8f8f8 72%, rgba(255, 255, 255, 0) 100%)
}

.monitoringCard:hover {
  background-color: #f8f8f8;
}

.monitoringCard:focus {
  margin-top: 20px;
  margin-bottom: 20px;

  box-shadow: 0 8px 40px -12px rgb(0 0 0 / 50%);
}



.rules-link {
  position: absolute;
  top: 25px;
  right: 25px;
  text-decoration: underline;
}







.geocoder-edit {
  
  position: relative;
  font-family: Futura PT W01 Book;


}



.geocoder-edit input {
  width: 95%;
  position: relative;
  top: 2.5%;
  border-radius: 5px;
  border: none;
  height: 50px !important;
  padding: 0;
  left: 0%;
  padding-left: 15px;

  font-family: 'Futura PT W01 Book', sans-serif;
  font-size: 12pt;
  box-shadow: 0 8px 30px -12px rgba(0, 0, 0, 0);

  border: 1px solid #cecece;
  margin-bottom: 5px;
}

.geocoder-edit .react-geocoder-results {
  position: relative;
  top: 10px;
  left: 0%;
  z-index: 1;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 95%;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.2);
}
.mapboxgl-ctrl-top-right{
 
  width:70px;
  height:70px;
  top:10px;
  right:10px
}


.keyindicatorswrapper {
  width: 95%;
  display: flex;
  padding-top: 40px;
  margin-left: 2.5%;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
}

.keyindicatorcard {
  height: 50px;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  font-family: Futura PT W01 Book;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  justify-content: flex-end;
}

.insights-card {

  top: 0em;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-top: 2.5vw;
  padding-top: 1em;
  border-radius: 10px;
  padding-bottom: 1em;
  background-color: white;
}


.insights-card-title {
  width: 100%;
  height: 2em;
  position: relative;
  text-align: center;
  font-family: Futura PT W01-Bold;
}

.insights-card-subtitle {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 20;
  max-width: 500px;
  transform: translateX(-50%);
  text-align: center;
  font-family: Futura PT W01 Book;
  margin-left: 50%;

}

.insights-plot-clickblocker {
  width: 100%;
  height: 100%;
  z-index: 9;
  position: absolute;
}

.insights-plot {
  top: 20px;
  width: 100%;
  position: relative;
}


.explanation {
  position: absolute;
  width: 150px;
  top: 155px;
  left: 50px;
  display:table
  
}

.explanation::before {
  content: "*";
  display:table-cell
}

.no-ideas-yet{
   
  position: relative;
  font-size: 15pt;
  color: #414345;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  z-index: 10;
} 



.projectCardsWrapper{

  /* margin-top: 10px; */
  width: calc(100vw );
  margin-left: 20px;
  transform: scale(0.8);


}.projectDialogCard{

z-index: 99;
position: relative;

display: flex;
margin-top: 110px;
margin-left: 2.5%;
width: 95%;
min-width: 95%;
border-radius: 20px;
height: auto;

background-color: white;
box-shadow: 0 8px 40px -12px rgba(0,0,0,0);
}


.imgWrapper{


  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  left: calc(50% - 50px);
  margin-top: 10px;


  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;



}

.project-dialog-owner{
  
margin-top: 20px;
margin-bottom: 10px;
font-family: Futura PT W01 Book;
color: #353535;
text-align: center;

} 

.project-dialog-title{
font-size: 18px;
font-family: PlayfairDisplay-Bold;
/* font-family: Futura PT W01-Bold; */

color: #353535;
text-align: center;
width: 60%;
margin-left: 20%;
margin-top:10px;

margin-bottom: 20px;

}

/*
.dialogFilterWrapper {
  z-index: 99;
  position: relative;
  display: flex;
  justify-content:space-evenly;
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom:25px;
  color: #353535;
  
  
  height: 1.7em;
  font-family: Futura PT W01-Bold;

  animation: enteranimation 1.5s;
}*/

.projectCard {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  max-width: 95%;
  border-radius: 20px;
  /* box-shadow: 0 8px 40px -12px rgba(0,0,0,0); */
  max-height: 14em;
  /* background-color: rgb(255,255,255,0.6); */

  border-radius: 20px;
 overflow: hidden;
  /* background: transparent;
  box-shadow:  9px 9px 18px #f6d254,
               -9px -9px 18px #ffe05a; */
}


.leftWrapper{
  position: relative;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 20px;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;

}
.leftWrapper img{
  width: 100%;
  margin-left: 0%;
}

.rightWrapper{
  
 
  margin-left: 10px;
  height: 120px;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
 

}

.title{
  font-size: 18px;
  font-family: PlayfairDisplay-Bold;
   font-family: Futura PT W01-Bold; 
  color: #353535;

}
.owner{
  
  font-family: Futura PT W01 Book;
  color: #353535
} 

.date{
  margin-top:10px;
  font-family: Futura PT W01 Book;
  color: #353535
}



.ideaCount{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: Futura PT W01 Book;
  color:#353535;
  margin-top: 10px;
  margin-left: -10px;
  
}


@keyframes enteranimation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  50% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.drag {

  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  background: rgb(254,217,87);
background: linear-gradient(180deg, rgba(254,217,87,1) 0%, rgba(255,218,83,1) 50%, rgba(255,255,255,1) 100%);
border-radius: 20px;
  position: absolute;
  z-index:995;
  /* animation: dragEnterAnimation 2s */

 
}

@keyframes dragEnterAnimation {
  0% {
    transform: translateY(120%);
  }

  50% {
    transform: translateY(120%);
  }

  100% {
    transform: translateY(calc(100% - 120px))
  }
}




.wrapperScreamDialog {
  width: 100vw;
  margin-top:0vh;
  margin-left:0px;
  z-index:97;
  top: 30px;
  animation: enterScreamDialogAnimation 0.7s;
  position:absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior: contain;
  min-height: 100%;
}

@keyframes enterScreamDialogAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  49% {
    transform: translateY(50%);
    opacity: 0;
  }

  50% {
    transform: translateY(50%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


.screamDialogDrag {
  width: 100%;
  height: 120%;
  position: fixed;
  z-index:96;
 top:0;
  overflow: scroll;
  overscroll-behavior: contain;
}

