@media only screen and (max-width: 768px) {
  .mapboxgl-ctrl-group button {
    width: 50px !important;
    height: 50px !important;
    top: 5px;
    right: 0px;
    position: fixed;
    z-index: 999;
    background-color: #fed957 !important;
    border-radius: 15px !important;
    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.4) !important;
  }
}

.mapboxgl-ctrl-logo {
  pointer-events: none;
  display: none;
  opacity: 0;
}
